.content-switcher{
    width: 50% !important;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 2.5rem;
}

.ant-radio-button-wrapper:first-child{
    border: none !important;
}
.ant-radio-button-wrapper-checked{
    background-color: #161616 !important;
    color: #ffffff;
    z-index: 3;
    border-color: #d9d9d9 !important;
    background: #161616 !important;
    box-shadow: none !important;
}

.ant-radio-button-wrapper{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.16px;
    background-color: #f4f4f4;
    padding: 0.5rem 1rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    border: none;
    color: #525252;
    transition: all 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
    position: relative;
}

.ant-radio-button-wrapper:not(:first-of-type)::before {
    content: '';
    display: block;
    height: 1rem;
    width: 0.0625rem;
    background-color: #e0e0e0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0.5rem;
}

.ant-radio-button-wrapper-checked::before {
    background-color: transparent !important;
}

.ant-radio-button-wrapper:hover{
    background-color: #e5e5e5;
    color: #161616;
    z-index: 3;
}

.w-100{
    width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 499px){
    .content-switcher-wrapper{
        margin-top: 20px;
    }
    .content-switcher{
        width: 100% !important;
    }
}


@media only screen and (min-width: 500px) and (max-width: 768px){
    .content-switcher-wrapper{
        margin-top: 20px;
    }
    .content-switcher{
        width: 70% !important;
    }
}