.hpfde-footer {
	background-color: #1c2127;
	color: white;
	border-top: 4px solid white;
}

.hpfde-footer .social-networks {
	text-align: center;
}

.hpfde-footer .footer-copyright {
	background-color: #323538;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.hpfde-footer .footer-copyright p {
	margin: 10px;
	color: #ccc;
}

.hpfde-footer a {
	color: #d2d1d1;
	text-decoration: none;
}

.hpfde-footer a:hover {
	color: white;
}
.container {
	padding: 3.8rem 0px;
}

.footer-icons {
	font-size: 32px;
	transition: 0.2s;
	padding: 10px;
}

.hpfde-footer .twitter:hover {
	color: #00aced;
}

.hpfde-footer .facebook:hover {
	color: #0077e2;
}

.hpfde-footer .github:hover {
	color: #ef1a1a;
}

.hpfde-footer h5 {
	font-size: 18px;
	color: white;
	font-weight: bold;
}

.hpfde-footer .footer-contactus-button {
	color: black;
	background-color: #52a7fe;
	border-radius: 10px;
	border: none;
	width: 150px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 25px;
	padding: 10px;
	text-align: center;
}

.credit-text {
	margin: 15px 0px 0px;
}

.credit-text p {
	margin: 0;
}
