.f-home__section{
  padding: 4rem;

  .f-home__section-title{
    padding-bottom: 2rem;
  }
}

.f-home__cover{
  background-color: $black;

  .f-home__cover-text-wrapper{
    color: $white;

    .f-cover-title{
      font-size: 60px;
      line-height: 1.2em;
      font-weight: 500;
    }

    .f-cover-subtitle{
      padding-top: 2rem;
      line-height: 1.6em;
    }
  }

  .f-home__cover-img-wrapper{
    text-align: end;
  }
}

.f-home__how-to-use{

  .f-home__how-to-use-tabs{
    .bx--tabs__nav{
      width: 100%;

      .bx--tabs__nav-link{
        width: 100%;
      }
    }
  }
}

.f-home__did-you-know{
  background-color: $black;
  color: $white;

  .f-did-you-know-content-wrapper{
    padding-bottom: 2rem;

    .f-did-you-know__body{
      padding-top: 1rem;
    }

    .f-did-you-know__link{
      display: block;
      padding-top: 1rem;
    }
  }
}


@media screen and ( max-width : 1055px){
  .f-home__cover .f-home__cover-img-wrapper{
    text-align: center;
    padding-top: 4rem;

  }

  .f-home__cover .f-home__cover-text-wrapper{
    text-align: center;
  }
}

@media screen and ( max-width : 671px){

  .f-home__section{
    padding: 2rem;
  }

  .f-home__cover {
    .f-home__cover-text-wrapper{
      .f-cover-title{
        font-size: 48px;
      }
    }

    .f-home__cover-img-wrapper{

      padding-top: 2rem;
    }
  }

  .f-home__how-to-use{
    padding: 2rem;
  }
}
