.filter-col-wrapper-2{
  height: 100%;
  position: relative;
}

.filter-col{
  position: relative;
  background-color: $extra_light_grey;
  padding: 2rem;
  height: 100%;
  overflow-y: scroll;


  .filter-col--ops{
    padding-bottom: 2rem;
  }
}

.f-filter-icon-wrapper{
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  transform: translateX(100%);
  background-color: $extra_light_grey;
  padding: 0.5rem;
  cursor: pointer;

  @media screen and (min-width : 1024px){
    display: none;
  }
}
