.f-page-title{
  border-bottom: 1px solid $extra_light_grey;
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  left: 0;
  top: 3rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);

  .f-page-title__left-aligned-content{
    display: flex;
  }

  .f-page-title__description{
    padding-top: 0.5rem;
    width: 70%;
  }

}
