.exp-covid table {
    table-layout: fixed;
    thead div{
        display: inline-block;
      }
    th:hover{
            background: #cacaca;
    }
}

.exp-covid .data-table-wrapper{
  max-height: 70vw;
  overflow-x: hidden;
}