.tooltip{
  position: absolute;
  color: red;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 5px;
  background-color: #fff;
  max-width: 200px;
  padding: 10px;


  p{
    font-size: 10px;
  }
}
