@import './scss/vars.scss';

// @import './scss/normalize.scss';
@import './scss/vars.scss';

//components styles
@import './components/atoms/FButton/style.scss';
@import './components/atoms/FLoading/style.scss';
@import './components/molecules/FMonthPicker/style.scss';
@import './components/molecules/FDropdown/style.scss';
@import './components/molecules/FDownloadActionTooltip/style.scss';
@import './components/molecules/FLegend/style.scss';
@import './components/organisms/FHeader1/style.scss';
@import './components/organisms/FPageTitle/style.scss';
@import './components/organisms/FFilterColumn/style.scss';

//datavizcomps styles
@import './components/dataviz/FTable/style.scss';
@import './components/dataviz/FSASRChart/style.scss';
@import './components/dataviz/FBarChart/style.scss';
@import './components/dataviz/FForce_Y/style.scss';

//content styles
@import './content/Home/style.scss';
@import './content/AboutUs/style.scss';
@import './content/ContactUs/style.scss';
@import './content/ExpSummary/style.scss';
@import './content/ExpDetails/style.scss';
@import './content/ExpTracker/style.scss';



//carbon overrides
.f-content{
  padding-top: 3rem;
  transform: none;
}

.text-col{

  width: 30rem;

  background-color: $extra_light_grey;
  padding: 2rem;

  @media screen and (max-width: 1280px){
    width: 26rem;
  }

  @media screen and (max-width: 992px){
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }
}

//custom

.f-light-grey{
  color: $grey;
}

.f-page-title{
  left: 0;
  top: 3rem;
}

.filter-col-wrapper{
  height: 100vh;
  position: fixed;
  width: 16rem;
  left: 2rem;
  top: 0;
  padding: 9.5rem 0 0 0;

}

.data-viz-col{
  width: 100%;
  padding-top: 2rem;
  z-index: 10;

  &.exp-details, &.receipts{
    padding-left: 20rem;
  }

  &.exp-summary{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media screen and (max-width: 1280px){
    padding-left: 30rem;
  }

  @media screen and (max-width: 992px){
    padding-left: 0;
  }
}

//content switcher component

//override
.bx--content-switcher{
  width: 50%;

  @media screen and (max-width: 540px){
    width: 100%;
  }
}

//not-override
.content-switcher-wrapper{
  display: flex;
  justify-content: center;
}
