$white: #ffffff;
$black: #171717;
$extra_light_grey: #f3f3f3;
$light_grey: #e4e4e4;
$dark-grey: #9a9a9a;
$grey: #c3c3c3;
$orange: rgb(255, 97, 0);
$blue: rgb(0, 119, 255);
$shadow_light: rgba(0,0,0,0.2);
$legend_point_1: hsl(177, 100%, 14%);
$legend_point_2: hsl(177, 100%, 28%);
$legend_point_3: hsl(177, 100%, 42%);
$legend_point_4: hsl(177, 100%, 56%);
$legend_point_5: hsl(177, 100%, 70%);

//brand colors:
$brandBlueDark: #245379;
$brandBlueMid: #0075A9;
$brandBlueLight: #B3D8E7;
$brandBlueLightOp40: rgba(179,216,231,0.4);

@mixin box_shadow_light() {
   -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
   -moz-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
   box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
}

:export {
  blue: $blue;
  orange: $orange;
  black: $black;
  darkGrey: $dark-grey;
  grey: $grey;
  lightGrey: $light_grey;
  extraLightGrey: $extra_light_grey;
  white: $white;
  black: $black;
  legend_point_1: $legend_point_1;
  legend_point_2: $legend_point_2;
  legend_point_3: $legend_point_3;
  legend_point_4: $legend_point_4;
  legend_point_5: $legend_point_5;
}


@mixin serif-style-1(){
  font-family: 'IBM Plex Serif' !important;
  font-weight: 500;
  font-size: 60px;

  @media screen and ( max-width : 671px){
    font-size: 48px;
  }
}

@mixin serif-style-2(){
  font-family: 'IBM Plex Serif' !important;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5em;

  @media screen and ( max-width : 1055px){
    font-size: 30px;
  }

}

@mixin serif-style-3--italic{
  font-family: 'IBM Plex Serif' !important;
  font-size: 20px;
  line-height: 1.5em;
  font-style: italic;

  @media screen and ( max-width : 1055px){
    font-size: 16px;
  }
}
