.f-table-comp-wrapper{
  //override
  .bx--overflow-menu-options__option{
    width: auto;
    height: 3rem;
    padding: 0;
  }
}

.bx--overflow-menu-options__btn{
  padding: 0;
}

.bx--data-table-container{
    min-width: 0;
}

.bx--data-table{
    min-width: 31.25rem;
}

.bx--data-table-header{
  display: none;
}

//not-override
.data-table-wrapper{
  overflow-x: scroll;
}

.f-table-comp-wrapper{
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
}

.total-column{
  font-size: inherit !important;
  font-weight: 700;
  text-align: center;
}

.ant-progress-text{
  color: rgba(0, 0, 0, 0.45) !important;
}